.address {
  width: 100%;
  margin: 0 auto;

  &--color {
    background-color: $light-grey;
  }
}

@media (min-width: $width-desktop) {
  .address {
    position: relative;
  }
}

.address__wrapper {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media (min-width: $width-tablet) {
  .address__wrapper {
    grid-column-gap: 152px;
    padding: 64px 72px 58px 71px;
  }
}

@media (min-width: $width-desktop) {
  .address__wrapper {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 109px;
    width: 570px;
    grid-column-gap: 79px;
    padding-bottom: 60px;
    padding-left: 77px;
    background-color: $white;
  }
}

.address__title {
  margin: 1px 0 0 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $light-black;
}

@media (min-width: $width-tablet) {
  .address__title {
    margin-top: 4px;
    font-size: 20px;
    line-height: 21px;
  }
}

.address__description {
  line-height: 20px;
}

@media (min-width: $width-tablet) {
  .address__description {
    font-size: 16px;
    text-align: right;

    &:last-child {
      padding-top: 19px;
    }
  }

  .address__description-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $width-desktop) {
  .address__description {
    font-size: 16px;
    text-align: left;
  }
}

.address__map {
  height: 362px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

@media (min-width: $width-tablet) {
  .address__map {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $width-desktop) {
  .address__map {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
