.address {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.address__wrapper {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address__wrapper--form {
  background-color: $light-grey;
}

.address__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $light-black;
}
