.advantages {
  @include container;
}

@media (min-width: $width-tablet) {
  .advantages {
    border-bottom: 1px solid $palest-grey;
    box-sizing: border-box;
  }
}

@media (min-width: $width-desktop) {
  .advantages {
    border-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

@media (min-width: $width-tablet) {
  .advantages__title {
    padding-top: 45px;
    padding-bottom: 35px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $width-desktop) {
  .advantages__title {
    padding-bottom: 75px;
  }
}

.advantages__list {
  @include reset-list;
}

@media (min-width: $width-tablet) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 137px;
    grid-row-gap: 90px;
  }
}

@media (min-width: $width-desktop) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 79px;
  }
}

.advantages__item {
  padding-left: 80px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 42px;
  }
}

@media (min-width: $width-tablet) {
  .advantages__item {
    margin-top: 111px;
    padding-left: 0;
    padding-right: 35px;
    font-size: 16px;
    line-height: 24px;
  }
}
