.button {
  text-decoration: none;
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
}

.button--all {
  color: $dark-grey;
  background-color: $light-grey;
}
