.catalog {
  @include container;
}

.catalog__list {
  @include reset-list;
}

@media (min-width: $width-tablet) {
  .catalog__list--basic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}

@media (min-width: $width-desktop) {
  .catalog__list--basic {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 1;
}

@media (min-width: $width-desktop) {
  .catalog__inner-accessory {
    display: flex;
    justify-content: space-between;
  }
}
