.feed-program {
  @include container;
}

.feed-program__title {
  font-size: 36px;
  line-height: 1;
}

.feed-program__description {
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $width-tablet) {
  .feed-program__description,
  .feed-program__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $width-desktop) {
  .feed-program__description,
  .feed-program__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.feed-program__small-text {
  line-height: 16px;
  color: $black;
}
