.feed-program__title {
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 1;
  color: $black;
}

.feed-program__description {
  font-family: $font-oswald;
  text-transform: uppercase;
  color: $black;
}

.feed-program__small-text {
  line-height: 16px;
  color: $black;
}
