.form__fieldset {
  margin: 22px 0 0 0;
  padding: 0;
  border: 0;

  &--bottom-border {
    border-bottom: 1px solid $grey;
  }

  &--pet-data {
    padding-bottom: 27px;
  }

  &--end-result {
    padding-bottom: 20px;
  }

  &--user-data {
    margin-top: 4px;
  }
}

@media (min-width: $width-tablet) {
  .form__fieldset--bottom-border {
    border-bottom: 0;
  }

  .form__fieldset--bottom-border:last-child {
    border: 1px solid $grey;
    box-sizing: border-box;
  }
}

@media (min-width: $width-tablet) {
  .form__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media (min-width: $width-desktop) {
  .form__list--additional {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__list {
  @include reset-list;
}

.form__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10px;
  margin-top: 13px;
}


@media (min-width: $width-desktop) {
  .form__wrapper-pet-data,
  .form__list--user-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.form__description {
  font-family: $font-oswald;
  font-size: 16px;
  text-transform: uppercase;
}

.form__information {
  font-family: $font-oswald;
  font-size: 16px;
  text-transform: uppercase;
}

.form__information::placeholder {
  color: $dark-grey;
}

.form__information--comment {
  width: 100%;
}

.form__title {
  padding-top: 23px;
  padding-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.form__button-inner {
  padding-top: 34px;
  padding-bottom: 32px;
}

@media (min-width: $width-tablet) {
  .form__button-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}

@media (min-width: $width-desktop) {
  .form__button-inner {
    grid-column-gap: 80px;
  }
}
