.line-break--mobile {
  display: inline-block;
}

.line-break--tablet {
  display: none;
}

@media (min-width: $width-tablet) {
  .line-break--mobile {
    display: none;
  }

  .line-break--tablet {
    display: inline-block;
  }
}
