.main__title {
  @include container;
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1;
  color: $black;
}

@media (min-width: $width-tablet) {
  .main__title {
    margin-top: 58px;
    margin-bottom: 91px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $width-desktop) {
  .main__title {
    margin-top: 73px;
    margin-bottom: 85px;
  }
}
