.present {
  @include container;
}

.present__inner {
  height: auto;
  margin-top: 39px;
  margin-bottom: 35px;
  padding-top: 186px;
  padding-bottom: 43px;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $width-tablet) {
  .present__inner {
    margin-top: 68px;
    margin-bottom: 77px;
    padding-top: 72px;
    padding-bottom: 68px;
  }
}

@media (min-width: $width-desktop) {
  .present__inner {
    margin-top: 0;
    margin-bottom: 86px;
    padding-top: 187px;
    padding-bottom: 41px;
  }
}

.present__description {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
