.promo {
  font-family: $font-oswald;
  color: $white;
  background-color: $green;
}

@media (min-width: $width-tablet) {
  .promo {
    color: $black;
    background-color: transparent;
  }
}

.promo__inner {
  @include container;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.promo__slogan {
  line-height: 14px;
  text-transform: uppercase;
}
