.promo {
  position: relative;
  font-family: $font-oswald;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 169px;
    left: 20px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 100% auto;
    }
  }
}

@media (min-width: $width-tablet) {
  .promo {
    color: $black;

    &::before {
      z-index: -1;
      top: 258px;
      left: 29px;
      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-tablet@2x.png");
        background-size: 100% auto;
      }
    }
  }
}

@media (min-width: $width-desktop) {
  .promo::before {
    z-index: 0;
    top: 26px;
    left: 558px;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 100% auto;
    }
  }
}

.promo__container {
  position: relative;
  z-index: -1;
  background-image: url("../img/cat-index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-green;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-index-background-mobile@2x.jpg");
  }
}

@media (min-width: $width-tablet) {
  .promo__container {
    background-image: none;

    &::after {
      background-color: transparent;
    }
  }
}

.promo__inner {
  @include container;
  padding-bottom: 145px;
  text-align: center;
}

@media (min-width: $width-tablet) {
  .promo__inner {
    padding-left: 117px;
    padding-bottom: 0;
    text-align: left;
  }
}

@media (min-width: $width-desktop) {
  .promo__inner {
    padding-left: 80px;
  }
}

.promo__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 27px;
  font-size: 36px;
  line-height: 36px;
}

@media (min-width: $width-tablet) {
  .promo__title {
    padding-top: 56px;
    padding-bottom: 42px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $width-desktop) {
  .promo__title {
    padding-top: 107px;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 1;
  }
}

.promo__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $width-tablet) {
  .promo__slogan {
    font-size: 20px;
    line-height: 1;
  }
}

.promo__button-wrapper {
  @include container;
  padding-top: 138px;
}

@media (min-width: $width-tablet) {
  .promo__button-wrapper {
    padding-left: 112px;
    padding-top: 31px;
    padding-bottom: 497px;
  }
}

@media (min-width: $width-desktop) {
  .promo__button-wrapper {
    padding-left: 80px;
    padding-top: 35px;
    padding-bottom: 185px;
  }
}
