.recommendations {
  @include container;
}

.recommendations__list {
  @include reset-list;
}

@media (min-width: $width-desktop) {
  .recommendations__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.recommendations__item {
  margin-top: 20px;
  background-color: $light-grey;
}

@media (min-width: $width-desktop) {
  .recommendations__item {
    width: 44%;
  }
}

.recommendations__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.recommendations__link {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}
