.recommendations {
  @include container;
}

@media (min-width: $width-desktop) {
  .recommendations {
    padding-top: 82px;
  }
}

.recommendations__list {
  @include reset-list;
}

@media (min-width: $width-desktop) {
  .recommendations__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.recommendations__item {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 33px;
  background-color: $light-grey;
}

@media (min-width: $width-tablet) {
  .recommendations__item {
    margin-top: 30px;
    padding-left: 52px;
  }
}

@media (min-width: $width-desktop) {
  .recommendations__item {
    margin-top: 0;
  }
}

.recommendations__title {
  position: relative;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  &--fat {
    padding-left: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 2px;
      width: 50px;
      height: 53px;
      background-image: url("../img/cat-fat-mobile.svg");
    }
  }

  &--thin {
    padding-left: 51px;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: -7px;
      width: 67px;
      height: 50px;
      background-image: url("../img/cat-thin-mobile.svg");
    }
  }
}

@media (min-width: $width-tablet) {
  .recommendations__title {
    padding-top: 76px;
    padding-bottom: 24px;
    text-align: left;
    font-size: 36px;
    line-height: 1;

    &--fat {
      padding-left: 0;

      &::before {
        top: 80px;
        left: 394px;
        width: 200px;
        height: 211px;
        background-image: url("../img/cat-fat-tablet.svg");
      }
    }

    &--thin {
      padding-left: 0;

      &::before {
        top: 92px;
        left: 360px;
        width: 268px;
        height: 200px;
        background-image: url("../img/cat-thin-tablet.svg");
      }
    }
  }
}

@media (min-width: $width-desktop) {
  .recommendations__title {
    text-align: center;
    padding-bottom: 75px;

    &--fat::before {
      top: 41px;
      left: 0;
      width: 100px;
      height: 106px;
      background-image: url("../img/cat-fat-desktop.svg");
    }

    &--thin {
      padding-left: 43px;

      &::before {
        top: 47px;
        left: -19px;
        width: 134px;
        height: 100px;
        background-image: url("../img/cat-thin-desktop.svg");
      }
    }
  }
}

.recommendations__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey;
}

@media (min-width: $width-tablet) {
  .recommendations__description {
    padding-bottom: 52px;
    border-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }
}

@media (min-width: $width-desktop) {
  .recommendations__description {
    padding-bottom: 26px;
  }
}

.recommendations__description br {
  display: none;
}

@media (min-width: $width-tablet) {
  .recommendations__description br {
    display: inline-block;
  }
}

@media (min-width: $width-desktop) {
  .recommendations__description br {
    display: none;
  }
}

.recommendations__link {
  display: inline-grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 15px;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 22px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("../img/icon-arrow-hover.svg");
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-image: url("../img/icon-arrow-hover.svg");
  }
}

@media (min-width: $width-tablet) {
  .recommendations__link {
    padding-top: 0;
    padding-bottom: 58px;
    grid-column-gap: 25px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .recommendations__link {
    padding-bottom: 59px;
    grid-column-gap: 28px;
  }
}

.recommendations__link-icon {
  width: 10px;
  height: 10px;
}
