.result {
  background-color: $lighter-grey;
}

@media (min-width: $width-tablet) {
  .result {
    background-color: transparent;
  }
}

.result__inner {
  @include container;
}

@media (min-width: $width-desktop) {
  .result__inner {
    display: flex;
  }

  .result__wrapper-range,
  .result__wrapper-success {
    width: 50%;
  }
}

.result__title {
  @include container;
  font-size: 36px;
  line-height: 40px;
}
