.result {
  margin: 20px;
  background-color: $lighter-grey;
}

@media (min-width: $width-desktop) {
  .result {
    display: flex;
  }

  .result__wrapper-range,
  .result__wrapper-success {
    width: 50%;
  }
}

.result__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}
