.result {
  background-color: $lighter-grey;
}

@media (min-width: $width-tablet) {
  .result {
    background-color: transparent;
  }
}

@media (min-width: $width-desktop) {
  .result {
    background-image: linear-gradient(to bottom, $white 0 29%, $light-grey 29% 100%);
  }
}

@media (min-width: $width-tablet) {
  .result__inner {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $width-desktop) {
  .result__inner {
    @include container;
    display: flex;
    justify-content: space-between;
  }
}

.result__wrapper-success {
  @include container;
}

.result__wrapper-range {
  margin-top: 37px;
}

@media (min-width: $width-tablet) {
  .result__wrapper-range {
    @include container;
    padding-top: 62px;
    background-image: linear-gradient(to bottom, $white 0 34%, $lighter-grey 34% 100%);
  }

  .result__wrapper-success {
    padding-bottom: 15px;
  }
}

@media (min-width: $width-desktop) {
  .result__wrapper-range {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 52%;
    background-image: none;
  }

  .result__wrapper-success {
    width: 36%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.result__image-container {
  position: relative;
}

.result__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  background-color: $lighter-grey;
}

@media (min-width: $width-tablet) {
  .result__image-wrapper {
    background-color: transparent;
    background-image: linear-gradient(to bottom, $white 0 33.5%, $lighter-grey 33.5% 100%);
  }
}

@media (min-width: $width-desktop) {
  .result__image-wrapper {
    width: 55%;
    top: 0;
    background-image: linear-gradient(to bottom, $white 0 36.5%, $light-grey 36.5% 100%);
  }
}

.result__image {
  display: block;
  height: auto;
}

.result__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 34px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

@media (min-width: $width-tablet) {
  .result__title {
    padding-top: 43px;
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: $width-desktop) {
  .result__title {
    padding-top: 54px;
    padding-bottom: 147px;
  }
}

.result__description {
  margin: 0;
}

@media (min-width: $width-tablet) {
  .result__description {
    font-size: 16px;
    line-height: 24px;
  }
}
