@media (min-width: $width-tablet) {
  .success {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $width-desktop) {
  .success {
    flex-direction: column;
  }
}

.success__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 34px;
  padding-top: 25px;
}

@media (min-width: $width-tablet) {
  .success__inner {
    width: 52%;
    grid-column-gap: 42px;
    padding-top: 53px;
  }
}

@media (min-width: $width-desktop) {
  .success__inner {
    width: 83%;
    grid-column-gap: 42px;
    padding-top: 68px;
  }
}

.success__list {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border: 1px solid $paler-grey;
  border-radius: 3px;
  box-sizing: border-box;
}

@media (min-width: $width-tablet) {
  .success__list {
    font-size: 14px;
    line-height: 1;
  }
}

.success__item {
  font-family: $font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $width-tablet) {
  .success__item {
    font-size: 30px;
    line-height: 37px;
  }
}

.success__item-small {
  position: relative;
  display: inline-block;
  top: 7px;
  padding-right: 15px;
  padding-left: 15px;
  align-self: center;
  background-color: $lighter-grey;
}

@media (min-width: $width-tablet) {
  .success__item-small {
    top: 11px;
    background-color: $white;
  }

  .success__item-small br {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .success__item-small {
    background-color: $light-grey;
  }
}

.success__price-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media (min-width: $width-tablet) {
  .success__price-wrapper {
    flex-direction: column;
    margin-top: 58px;
  }
}

@media (min-width: $width-desktop) {
  .success__price-wrapper {
    flex-direction: row;
    margin-top: 65px;
    justify-content: flex-start;
  }
}

.success__price {
  display: block;
  font-family: $font-oswald;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  &:last-child {
    padding-left: 2px;
  }
}

@media (min-width: $width-tablet) {
  .success__price {
    align-self: flex-end;
    font-size: 20px;
    line-height: 1;

    &:last-child {
      padding-top: 9px;
    }
  }
}

@media (min-width: $width-desktop) {
  .success__price {
    align-self: flex-start;

    &:last-child {
      padding-top: 0;
      padding-left: 63px;
    }
  }
}
