$white: #ffffff;
$green: #68b738;
$lighter-grey: #eaeaea;
$light-grey: #f2f2f2;
$pale-grey: #ebebeb;
$grey: #d9d9d9;
$dark-grey: #444444;
$darker-grey: #222222;
$light-black: #111111;
$black: #000000;
