$red: #ff8282;
$light-green: rgba(104, 183, 56, 0.85);
$green: #68b738;
$white: #ffffff;
$lighter-grey: #eaeaea;
$light-grey: #f2f2f2;
$brighter-grey: #e7e7e7;
$bright-grey: #dcdcdc;
$palest-grey: #e6e6e6;
$paler-grey: #cdcdcd;
$pale-grey: #ebebeb;
$grey: #d9d9d9;
$deep-grey: #bababa;
$deeper-grey: #666666;
$dark-grey: #444444;
$darker-grey: #222222;
$lightest-black: rgba(0, 0, 0, 0.16);
$lighter-black: rgba(0, 0, 0, 0.24);
$pale-black: rgba(0, 0, 0, 0.4);
$light-black: #111111;
$black: #000000;
