html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}
