html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  font-family: $font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
