.success__list {
  font-size: 12px;
  line-height: 12px;
}

.success__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.success__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}
